@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-medium text-xl;
  }

  h2 {
    @apply font-medium text-lg;
  }

  button {
    @apply flex items-center gap-1 rounded-lg border border-slate-200 px-2 py-1 hover:border-blue-300 transition-colors;
  }
}

@layer components {
  .App {
    @apply w-screen h-screen overflow-hidden;
  }
  .primary-btn {
    @apply bg-blue-500 text-white hover:bg-blue-600 transition-colors;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(180, 180, 180) rgb(230, 230, 230);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
}

.cm-wrap {
  height: 100%;
}
.cm-scroller {
  overflow: auto;
}

.CodeMirror {
  border-radius: 8px;
  height: 25vh !important;
}
